mixin videoMxn(video)
        div.card-each
            a(href=`/videos/${video.id}` syle="background-image: url();")
                img.card-image(src='/uploads/image/earth.jpg')
                    //-여기 썸네일 넣기
            span.title=video.title
                div.card-desc
                    span.name=video.owner.name
                    span &nbsp▪&nbsp
                    span.view=video.meta.views