/* Config */
@import "./config/_variables.scss";
@import "./config/_reset.scss";

/* Components */
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/search.scss";
@import "./components/videoMxn.scss";
@import "./components/forms.scss";
@import "./components/sidenav.scss";
/* Screens */
@import "./screens/base.scss";
@import "./screens/editProfile.scss";
@import "./screens/editVideo.scss";
@import "./screens/home.scss";
@import "./screens/join.scss";
@import "./screens/login.scss";
@import "./screens/search.scss";
@import "./screens/upload.scss";
@import "./screens/viewProfile.scss";
@import "./screens/watchVideo.scss";
@import "./screens/emailAuth.scss";

/* Defaults */
* {
  font-family: "Nanum Gothic";
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Nanum Gothic";
}

html,body {
  background-color: $bg;
  // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../image/field-night.jpg');
  //이미지 출처 Designed by stockgiu / Freepik"
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  color: white !important;
  width: 100vw;
  height: 100%;
  overflow-x:hidden;
  
}
main {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 60px auto; //header 공간
}

///스크롤바
*::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

*::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: $purple2; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: $bg-light  /*스크롤바 뒷 배경 색상*/
}


.pageTitle {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 20px 20px;
}

.container {
  display: flex;
}

.container-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col {
  display: flex;
  flex-direction: column;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  min-width: 250px;
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  top: 30px;
  /* 30px from the top */
  animation: goAway 0.5s ease-in-out forwards;
  box-shadow: 2px 2px 5px rgb(198, 198, 198);

  &.error {
    background-color: rgb(205, 43, 43);
    color: white;
    animation-delay: 3s;

  }

  &.info {
    background-color: #333;
    color: white;
    animation-delay: 3s;

  }
}