@import "./_variables.scss"; 

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // background-color: $bg;
  color: white;
  background-color: black;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  min-width: 250px; 
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the top */
  animation: goAway 0.5s ease-in-out forwards;
  box-shadow: 2px 2px 5px rgb(198, 198, 198);

  &.error {
    background-color: rgb(205, 43, 43);
    color: white;
    animation-delay: 3s;

  }
  &.info{
    background-color: #333;
    color: white;
    animation-delay: 3s;
  
  }
}