.card-list-container {
    overflow: hidden;
    margin: 0 0;
    width:100vw;
    height: 100vh;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    align-content: flex-start;
    align-items: flex-start;
}