.card-list-container {

    margin: 0 20;
    width:100vw;
    // height: 100vh;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    
    // justify-content: space-around;
    align-content:flex-start;
    align-items: flex-start;
}
.card-item{
    flex: 0 0 25%;
    // width: 250px;
}
.card-each {
    display: flex;
    flex-direction: column; //제목과 설명 세로로 붙이기
    margin:10px 20px 10px 20px;
    
}

.card-image {
    width: 100%;
    height: 220px;
}

.card-desc {
    margin : 10px 0;
    background: $bg;
    color: $white;
}