.loginform {
    background-color: $bg-light;
    background:url('../image/earth.jpg');
    background-size:100%;
    width: 500px;
    height: 500px;
    margin: auto auto;
    border-radius: 10px;
    display:block;
}

#joinNow {
    margin: 20px 10px;
}