.loginform {
    background-color: $bg-light;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('/uploads/image/earth.jpg');
    //이미지 작가 gstudioimagen1</a> 출처 Freepik
    background-size:100%;
    width: 500px;
    height: 500px;
    margin: auto auto;
    border-radius: 10px;
    display:block;
}

#joinNow {
    margin: 20px 10px;
}