.input-s {
    margin:10px 15px;
    width: 100px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $white;
    background-color: transparent;
}

.input-m {
    margin:10px 15px;
    width: 200px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $white;
    background-color: transparent;
}

.input-l {
    margin:10px 15px;
    width: 300px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $white;
    background-color: transparent;
}

.input-summit {
    margin:10px 10px;
    width: 100px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $white;
    border-radius: 2px;
    background-color: $bg-dark;
    color: $white;
}