/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;

    /* 0.5 second transition effect to slide in the sidenav */

    /* Position and style the close button (top left corner) */
    .closebtn {
        position: absolute;
        cursor: pointer;
        width: 15px;
        height: 15px;
        top: 10px;
        left: 10px;
        font-size: 25px;
        margin-left: 0px;
    }

    /* The navigation menu links */
    .menubtn {
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover {
            /* When you mouse over the navigation links, change their color */
            color: #f1f1f1;
            cursor: pointer;
        }
    }
    
    .lv1 {
        padding: 20px 8px 8px 32px;
        font-size: 25px;
    }
    
    .lv2 {
        font-size: 20px;
        padding: 15px 8px 8px 64px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.openbtn {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
    font-size: 25px;
    margin-left: 0px;
}

.homebtn {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    padding-top:3px;
    margin-left: 35px;
}

.logoutbtn {
    font-size: 15px;
    padding: 20px 8px 8px 32px;
}