.card-item {
    display: flex;
    flex-direction: column; //제목과 설명 세로로 붙이기
    margin:10px 10px 10px 0;
    flex-basis: 260px;
    height: 300px;
}

.card-image {
    width: 260px;
    height: 220px;
}

.card-desc {
    margin : 10px 0;
    background: $bg;
    color: $white;
}