.videoMxn{
    display:block;   
    .thumbnail{
        width:250px;
        height:100px;
        border-radius: 5px;
        background-color: ivory;
    }
    .title {
        font-weight: bold;
        font-size : 18px;
        padding:15px 0px;
    }
    .data{
        display:flex;
        padding:5px 5px;   
        font-size : 14px;
    }

    
}

