.videoMxn{
    .thumbnail{
        width:250px;
        height:100px;
        border-radius: 5px;
        background-color: ivory;
    }
    .data{
        padding:0px 15px;
        
        .title {
            display:block;
            font-weight: bold;
            font-size : 15px;
            margin-top:10px;
        }
    }

    
}

