doctype html
html(lang="ko")
    head
        title #{pageTitle} | WeTube HYS
        //변수는 이 pug파일 (html)을 불러오는 Controller에서 지정!
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        header
            h1=pageTitle
            
            block headerContent

        main
            block content

    include partials/footer.pug
    script(src="/assets/js/main.js")