//- URL : /videos/:vId/edit
extends base.pug
block headerContent
    include partials/header.pug
block content
    h4 Change the video Title from "#{video.title}" to...
    form(method="POST")
        input(name="title",placeholder="Type new video title.",value=video.title, required)
        input(value="save",type="submit")