//- URL : /
extends base.pug
include mixins/video.pug 
block content
    //- include partials/search.pug
    .card-list-container
        .card-list
            each video in videos
                div.card-item
                    +videoMxn(video)
            else
                li Sorry, nothing found.