//- URL : /
extends base.pug
include mixins/video.pug 
    //-아래에서 +기호로 사용

block content
    h2 Welcome. Here you will see the trending videos.

        each video in videosArr
            +videoMxn(video)
        else
            li Sorry, nothing found.