//- URL : /
extends base.pug
include mixins/video.pug 
    //-아래에서 +기호로 사용
block headerContent
    h3 Hello, welcome home, #{loggedInUser.name}.

    if !loggedIn
      a(href="/login") login
    else 
        a(href=`/users/${loggedInUser._id}/profile`) profile
        span &nbsp|&nbsp
        a(href="/logout") log out
    span &nbsp|&nbsp
    a(href="/videos/upload") Upload Video
    include partials/search.pug

block content
    if deletedVideo
        small Just deleted : #{deletedVideo}
    each video in videos
        +videoMxn(video)
    else
        li Sorry, nothing found.