extends base.pug
block headerContent
    if errorMessage
        span=errorMessage

    if gitUserData
        form(method="POST",action="/join")
            h4 JOIN VIA GITHUB!
            p Username (변경가능):
            input(name="username",type="text" ,value=gitUserData.login, required)
            p Profile Picture:
            input(name="avatarUrl",type="text" ,value=gitUserData.avatar_url)
            p Email:
            input(name="email", type="email",value=gitEmailObj.email, required,readonly)
            p Name:
            input(name="name",type="text",required)
            p Password:
            input(name="password",type="password",required)
            input(name="password2",placeholder="비밀번호확인",type="password",required)
            input(type="hidden",name="isVerified",value=1)
            input(type="submit",value="회원가입")    
    else
        form(method="POST")
            p Username:
            input(name="username",type="text" ,required)
            p Profile Picture:
            input(name="avatarUrl",type="text")
            p Email:
            input(name="email", type="email", required)
            p Name:
            input(name="name",type="text",required)
            p Password:
            input(name="password",type="password",required)
            input(name="password2",placeholder="비밀번호확인",type="password",required)
            input(type="hidden",name="isVerified",value=0)
            input(type="submit",value="회원가입")

    hr
    div
        a(href="users/github/login") Join with Github &rarr;
        br
        span Already have an account?
        a(href="/login") Log in &rarr;