extends base.pug

block content
  div.container-middle
    form.container-middle.container-col.loginform(method="POST",action="/login")
      p.pageTitle #{pageTitle}
      label(for="username") ID :&nbsp
        input.input-m(name="username",type="text",required)
      label(for="password") PW :&nbsp
        input.input-m(name="password",type="password",required)
      input.input-summit(type="submit",value="로그인")
      br
      a(href="users/github/login") Login with Github&nbsp
        i.fa-solid.fa-code-compare
      
      div.container#joinNow
        span Don't have an account?&nbsp
        i.fa-solid.fa-user
          a(href="/join") &nbspJoin now
        