header
    a(href="/")
        i.fa-solid.fa-house
    
    if messages.error
        +messagesMxn("error",messages.error)
    if messages.info
        +messagesMxn("info",messages.info)
    block headerContent